<form class="" action="/" method="post">
<input type="" name="username" value="">
<br>
<br>
<input type="" name="email" value="">
<br>
<br>

<input type="" name="password" value="">
<br>
<br>

<input type="submit" name="" value="Submit">
</form>
<br>
<br>

<hr>
Login
<hr>
<br>
<br>

<form class="" action="/login" method="post">
<input type="" name="username" value="">
<br>
<br>

<input type="" name="password" value="">
<br>
<br>

<input type="submit" name="" value="submit">

</form>
